.body {
  .link_row {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

    .link {
      text-decoration: none;
      color: black;
      cursor: pointer;

      &:hover {
        color: blue
      }
    }
  }
}